<ol id='menu-id-xaml-0' class='menu menu-level0 show '>
  <li id='menu-item-xaml-1' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/' class='menu-link  '>XAML Usage</a></span>  </li>
  <li id='menu-item-xaml-2' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/overview/' class='menu-link  '>Overview</a></span>  </li>
  <li id='menu-item-xaml-3' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/uno-svg-control/' class='menu-link  '>Uno Svg Control</a></span>  </li>
  <li id='menu-item-xaml-4' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svg-control-and-svgimage/' class='menu-link  '>Svg Control and SvgImage</a></span>  </li>
  <li id='menu-item-xaml-5' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svgml-avalonia-inline-svg/' class='menu-link  '>SvgML.Avalonia Inline SVG</a></span>  </li>
  <li id='menu-item-xaml-6' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svgml-maui-inline-svg/' class='menu-link  '>SvgML.Maui Inline SVG</a></span>  </li>
  <li id='menu-item-xaml-7' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svgml-uno-inline-svg/' class='menu-link  '>SvgML.Uno Inline SVG</a></span>  </li>
  <li id='menu-item-xaml-8' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svgml-foreignobject-controls/' class='menu-link  '>SvgML foreignObject Controls</a></span>  </li>
  <li id='menu-item-xaml-9' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svgresource-and-brushes/' class='menu-link  '>SvgResource and Brushes</a></span>  </li>
  <li id='menu-item-xaml-10' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/styling-and-previewer/' class='menu-link  '>Styling and Previewer</a></span>  </li>
  <li id='menu-item-xaml-11' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/skia-controls-and-skpictureimage/' class='menu-link  '>Skia Controls and SKPictureImage</a></span>  </li>
</ol>
