<ol id='menu-id-packages-0' class='menu menu-level0 show '>
  <li id='menu-item-packages-1' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/' class='menu-link  '>Packages</a></span>  </li>
  <li id='menu-item-packages-2' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-skia/' class='menu-link  '>Svg.Skia</a></span>  </li>
  <li id='menu-item-packages-3' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-model/' class='menu-link  '>Svg.Model</a></span>  </li>
  <li id='menu-item-packages-4' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-custom/' class='menu-link  '>Svg.Custom</a></span>  </li>
  <li id='menu-item-packages-5' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/shim-skiasharp/' class='menu-link  '>ShimSkiaSharp</a></span>  </li>
  <li id='menu-item-packages-6' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-controls-skia-avalonia/' class='menu-link  '>Svg.Controls.Skia.Avalonia</a></span>  </li>
  <li id='menu-item-packages-7' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-controls-avalonia/' class='menu-link  '>Svg.Controls.Avalonia</a></span>  </li>
  <li id='menu-item-packages-8' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/skia-controls-avalonia/' class='menu-link  '>Skia.Controls.Avalonia</a></span>  </li>
  <li id='menu-item-packages-9' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-core/' class='menu-link  '>Svg.Editor.Core</a></span>  </li>
  <li id='menu-item-packages-10' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-svg/' class='menu-link  '>Svg.Editor.Svg</a></span>  </li>
  <li id='menu-item-packages-11' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-skia/' class='menu-link  '>Svg.Editor.Skia</a></span>  </li>
  <li id='menu-item-packages-12' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-avalonia/' class='menu-link  '>Svg.Editor.Avalonia</a></span>  </li>
  <li id='menu-item-packages-13' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-skia-avalonia/' class='menu-link  '>Svg.Editor.Skia.Avalonia</a></span>  </li>
  <li id='menu-item-packages-14' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-codegen-skia/' class='menu-link  '>Svg.CodeGen.Skia</a></span>  </li>
  <li id='menu-item-packages-15' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-sourcegenerator-skia/' class='menu-link  '>Svg.SourceGenerator.Skia</a></span>  </li>
</ol>
