<ol id='menu-id-articles-0' class='menu menu-level0 show '>
  <li id='menu-item-articles-1' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/' class='menu-link  '>Articles</a></span>  </li>
  <li id='menu-item-articles-2' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/getting-started/' class='menu-link  '>Getting Started</a><a href='#menu-id-articles-2' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-2' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-2' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-3' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/getting-started/overview/' class='menu-link  '>Overview</a></span>    </li>
    <li id='menu-item-articles-4' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/getting-started/installation/' class='menu-link  '>Installation</a></span>    </li>
    <li id='menu-item-articles-5' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/getting-started/quickstart-loading-and-rendering/' class='menu-link  '>Quickstart: Loading and Rendering</a></span>    </li>
    <li id='menu-item-articles-6' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/getting-started/quickstart-avalonia/' class='menu-link  '>Quickstart: Avalonia</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-7' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/' class='menu-link  '>Packages</a><a href='#menu-id-articles-7' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-7' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-7' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-8' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-skia/' class='menu-link  '>Svg.Skia</a></span>    </li>
    <li id='menu-item-articles-9' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-model/' class='menu-link  '>Svg.Model</a></span>    </li>
    <li id='menu-item-articles-10' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-custom/' class='menu-link  '>Svg.Custom</a></span>    </li>
    <li id='menu-item-articles-11' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/shim-skiasharp/' class='menu-link  '>ShimSkiaSharp</a></span>    </li>
    <li id='menu-item-articles-12' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-controls-skia-avalonia/' class='menu-link  '>Svg.Controls.Skia.Avalonia</a></span>    </li>
    <li id='menu-item-articles-13' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-controls-avalonia/' class='menu-link  '>Svg.Controls.Avalonia</a></span>    </li>
    <li id='menu-item-articles-14' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/skia-controls-avalonia/' class='menu-link  '>Skia.Controls.Avalonia</a></span>    </li>
    <li id='menu-item-articles-15' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-core/' class='menu-link  '>Svg.Editor.Core</a></span>    </li>
    <li id='menu-item-articles-16' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-svg/' class='menu-link  '>Svg.Editor.Svg</a></span>    </li>
    <li id='menu-item-articles-17' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-skia/' class='menu-link  '>Svg.Editor.Skia</a></span>    </li>
    <li id='menu-item-articles-18' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-avalonia/' class='menu-link  '>Svg.Editor.Avalonia</a></span>    </li>
    <li id='menu-item-articles-19' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-editor-skia-avalonia/' class='menu-link  '>Svg.Editor.Skia.Avalonia</a></span>    </li>
    <li id='menu-item-articles-20' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-codegen-skia/' class='menu-link  '>Svg.CodeGen.Skia</a></span>    </li>
    <li id='menu-item-articles-21' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/packages/svg-sourcegenerator-skia/' class='menu-link  '>Svg.SourceGenerator.Skia</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-22' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/editor/' class='menu-link  '>Editor</a><a href='#menu-id-articles-22' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-22' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-22' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-23' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/editor/architecture/' class='menu-link  '>Architecture</a></span>    </li>
    <li id='menu-item-articles-24' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/editor/embedding-workspace/' class='menu-link  '>Embedding SvgEditorWorkspace</a></span>    </li>
    <li id='menu-item-articles-25' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/editor/composing-panels-and-dialogs/' class='menu-link  '>Composing Panels and Dialogs</a></span>    </li>
    <li id='menu-item-articles-26' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/editor/rendering-and-svg-services/' class='menu-link  '>Rendering and Svg Services</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-27' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/concepts/' class='menu-link  '>Concepts</a><a href='#menu-id-articles-27' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-27' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-27' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-28' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/concepts/package-architecture/' class='menu-link  '>Package Architecture</a></span>    </li>
    <li id='menu-item-articles-29' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/concepts/rendering-pipeline/' class='menu-link  '>Rendering Pipeline</a></span>    </li>
    <li id='menu-item-articles-30' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/concepts/source-formats-and-assets/' class='menu-link  '>Source Formats and Assets</a></span>    </li>
    <li id='menu-item-articles-31' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/concepts/picture-model-and-rebuild/' class='menu-link  '>Picture Model and Rebuild</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-32' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/' class='menu-link  '>Guides</a><a href='#menu-id-articles-32' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-32' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-32' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-33' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/loading-svg-and-vectordrawable/' class='menu-link  '>Loading Svg and VectorDrawable</a></span>    </li>
    <li id='menu-item-articles-34' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/exporting-images-pdf-and-xps/' class='menu-link  '>Exporting Images, Pdf, and Xps</a></span>    </li>
    <li id='menu-item-articles-35' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/hit-testing-and-model-editing/' class='menu-link  '>Hit Testing and Model Editing</a></span>    </li>
    <li id='menu-item-articles-36' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/cli-conversion/' class='menu-link  '>CLI Conversion</a></span>    </li>
    <li id='menu-item-articles-37' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/source-generator-and-svgc/' class='menu-link  '>Source Generator and svgc</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-38' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/' class='menu-link  '>XAML Usage</a><a href='#menu-id-articles-38' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-38' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-38' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-39' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/overview/' class='menu-link  '>Overview</a></span>    </li>
    <li id='menu-item-articles-40' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svg-control-and-svgimage/' class='menu-link  '>Svg Control and SvgImage</a></span>    </li>
    <li id='menu-item-articles-41' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/svgresource-and-brushes/' class='menu-link  '>SvgResource and Brushes</a></span>    </li>
    <li id='menu-item-articles-42' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/styling-and-previewer/' class='menu-link  '>Styling and Previewer</a></span>    </li>
    <li id='menu-item-articles-43' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/xaml/skia-controls-and-skpictureimage/' class='menu-link  '>Skia Controls and SKPictureImage</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-44' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/advanced/' class='menu-link  '>Advanced</a><a href='#menu-id-articles-44' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-44' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-44' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-45' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/advanced/android-vectordrawable-support/' class='menu-link  '>Android VectorDrawable Support</a></span>    </li>
    <li id='menu-item-articles-46' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/advanced/trimming-aot-and-nativeaot/' class='menu-link  '>Trimming, AOT, and NativeAOT</a></span>    </li>
    <li id='menu-item-articles-47' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/advanced/testing-and-w3c-suite/' class='menu-link  '>Testing and W3C Suite</a></span>    </li>
    <li id='menu-item-articles-48' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/advanced/build-and-package/' class='menu-link  '>Build and Package</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-49' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/reference/' class='menu-link  '>Reference</a><a href='#menu-id-articles-49' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-49' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-49' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-50' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/reference/packages-and-namespaces/' class='menu-link  '>Packages and Namespaces</a></span>    </li>
    <li id='menu-item-articles-51' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/reference/samples-and-tools/' class='menu-link  '>Samples and Tools</a></span>    </li>
    <li id='menu-item-articles-52' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/reference/api-coverage-index/' class='menu-link  '>API Coverage Index</a></span>    </li>
    <li id='menu-item-articles-53' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/reference/license/' class='menu-link  '>License</a></span>    </li>
    <li id='menu-item-articles-54' class='menu-item '>
      <span class='menu-item-row'><a href='/Svg.Skia/articles/reference/lunet-docs-pipeline/' class='menu-link  '>Lunet Docs Pipeline</a></span>    </li>
  </ol>
  </li>
</ol>
