<ol id='menu-id-guides-0' class='menu menu-level0 show '>
  <li id='menu-item-guides-1' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/' class='menu-link  '>Guides</a></span>  </li>
  <li id='menu-item-guides-2' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/loading-svg-and-vectordrawable/' class='menu-link  '>Loading SVG, SvgDocument, and VectorDrawable</a></span>  </li>
  <li id='menu-item-guides-3' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/svgdocument-handling-and-mutation/' class='menu-link  '>SvgDocument Handling and Mutation</a></span>  </li>
  <li id='menu-item-guides-4' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/retained-scene-graph-usage/' class='menu-link  '>Retained Scene Graph Usage</a></span>  </li>
  <li id='menu-item-guides-5' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/exporting-images-pdf-and-xps/' class='menu-link  '>Exporting Images, Pdf, and Xps</a></span>  </li>
  <li id='menu-item-guides-6' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/hit-testing-and-model-editing/' class='menu-link  '>Hit Testing and Scene Inspection</a></span>  </li>
  <li id='menu-item-guides-7' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/performance-and-retained-scene-refresh/' class='menu-link  '>Performance and Retained-Scene Refresh</a></span>  </li>
  <li id='menu-item-guides-8' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/interaction-and-animation/' class='menu-link  '>Interaction and Animation</a></span>  </li>
  <li id='menu-item-guides-9' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/cli-conversion/' class='menu-link  '>CLI Conversion</a></span>  </li>
  <li id='menu-item-guides-10' class='menu-item '>
    <span class='menu-item-row'><a href='/Svg.Skia/articles/guides/source-generator-and-svgc/' class='menu-link  '>Source Generator and svgc</a></span>  </li>
</ol>
